@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="d-flex justify-content-between  mb-3">
                    <div class="p-3">
                        <h2>
                         
                        </h2>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="body table-responsive">
                    
                </div>
            </div>
        </div>
    </div>
</div>


